.inputGame{
	margin-top: 10px;
	width: 90%;
	height: 50px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: transparent;
	box-shadow: inset 0px 1px 3px 0px #4D2C04,
				0px 1px 3px 0px #4D2C04;
	padding-left: 15px;
	color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
}

.inputGame::placeholder{
  	color: #fff;
}


.btn-link {
	border: 6px dotted #004faa;
	background-color: #000000;
}

.btn-link:hover {
	text-shadow: none;
	border: 6px dotted rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
